@import url("./reset.css");
@import url("./variable.css");

* {
    box-sizing: border-box;
}
body{
    font-family: var(--fontRoboto);
    background-color: var(--grey5);
}

.header{
    display:flex;
    padding: 32px;
    align-items: center;
    justify-content: space-between;
    height: 107px;
    border-bottom: 1px solid var(--grey10);
    margin-bottom: 127px;
    
}
.logo-name{
    color: var(--textblack);
    font-family: var(--fontOpen);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1.28px
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.nav-content{
    display: flex;
    gap: 40px;
}
.nav-list {
    text-decoration: none;
    color: var(--textblack);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.36px;
}
.nav-item:last-child .nav-list{
    color: var(--maingreen);
    font-weight: 800;
}
.main{
    padding: 31px;
    
    
}
.content{
    display: flex;
    flex-direction: row;
    gap: 37px;
}
.main-display{
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-direction: column;
    padding-bottom: 188px;

}
.main-name{
    font-weight: 700;
    font-size: 70px;
    color: var(--textblack);
}
.main-rew{
color: #66645E;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
letter-spacing: -0.48px;
font-family: var(--fontOpen);
}
.image-about{
    padding-bottom: 188px;
}
.button{
    width: 240px;
    height: 64px;
    padding: 20px 24px;
    align-items: center;
    border-radius: 8px;
    background-color: var(--maingreen);
    border: 0;
    color: var(--mainwhite);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}
.button:hover{
    opacity: .7;
}
.title-2{
    color: var(--textblack);
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    line-height: 64px; 
}

.subtitle-2{
    color: var(--textblack);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
}
.dis-title{
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  margin-left: 270px;
  margin-right: 270px;
    
}
.cards{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
}
.feature-info{
    height: 334px;
    width: 644px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left:56px;
}

.feature-title{
    color: var(--textblack);
    font-size: 48px;
    font-weight: 800;
    line-height: 64px; /* 133.333% */
}
.feature-subtitle{
    color: var(--textblack);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
}
.members-widget{
    margin-right: 118px;

}

.section-3,.section-4{
    display: flex;
    justify-content: space-between;
    margin-top: 118px;
}
.section-5{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}
.sec4-cards{
    flex-basis: min-content;
    gap: 14px;
}

.sec5-cards{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.section-6{
    margin-top: 184px;
}
.blck-btn{
    margin-top: 64px;
    display: inline-flex;
    padding: 20px 24px;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: var(--textblack);
    color: var(--mainwhite);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
}
.view-btn{
    display: flex;
    justify-content: center;
}
.section7-title{
    color: var(--textblack);
    font-size: 48px;
    font-weight: 800;
    line-height: 64px; /* 133.333% */
}
.section7-subtitle{
    color: var(--textblack);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
}
.section-7{
    display: flex;
    justify-content: space-between;
}
.btn{
    margin-top:40px;
}
