@import url("./reset.css");
@import url("./variable.css");

* {
    box-sizing: border-box;
}
body{
    font-family: var(--fontRoboto);
    background-color: var(--grey5);
}

.header{
    display:flex;
    padding: 32px;
    align-items: center;
    justify-content: space-between;
    height: 107px;
    border-bottom: 1px solid var(--grey10);
    margin-bottom: 127px;
    
}
.logo-name{
    color: var(--textblack);
    font-family: var(--fontOpen);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1.28px
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.nav-content{
    display: flex;
    gap: 40px;
}
.nav-list {
    text-decoration: none;
    color: var(--textblack);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.36px;
}
.nav-item:last-child .nav-list{
    color: var(--maingreen);
    font-weight: 800;
}
.main{
    padding: 31px;
    
    
}
.content{
    display: flex;
    flex-direction: row;
    gap: 37px;
}
.main-display{
    display: flex;
    gap: 24px;
    flex-direction: column;

}
.main-name{
    font-weight: 700;
    font-size: 70px;
    color: var(--textblack);
}
.main-rew{
color: #66645E;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
letter-spacing: -0.48px;
font-family: var(--fontOpen);
}
.button{
    width: 240px;
    height: 64px;
    padding: 20px 24px;
    align-items: center;
    border-radius: 8px;
    background-color: var(--maingreen);
    border: 0;
    color: var(--mainwhite);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}